* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	object-fit: contain;
	width: 15%;
	height: 15%;
}

.nav-bar {
	display: flex;
	width: 100vw;
	top: 0;
	position: fixed;
	padding: 10px 10%;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(117, 119, 119, 0.658);
	opacity: 0.9;
}

.nav-links {
	display: flex;
	list-style-type: none;
	transition: all 0.2s linear;
}

.nav-link a {
	text-decoration: none;
	color: white;
	padding: 10px;
	transition: color 0.3s ease-in-out;
	font-size: 25px;
	font-family: monospace;
}

.nav-link a:hover {
	color: rgb(101, 211, 86);
}

.hamburger-menu {
	display: none;
}

@media screen and (max-width: 534px) {
	.hamburger-menu {
		display: block;
	}
	.nav-links {
		align-items: center;
		height: 40px;
		justify-content: center;
		left: 0;
		background: black;
		top: 40px;
		position: fixed;
		overflow: hidden;
		width: 0px;
	}
}
