input {
	border-radius: 2px;
	background-color: rgba(245, 245, 245, 0.63);
	border: none;
	padding: 4px;
	width: 58%;
}

button {
	border-radius: 2px;
	padding: 4px;
	border: none;
	color: rgb(0, 0, 0);
	background-color: green;
}
button:hover {
	background-color: whitesmoke;
}
